<br>
<div class="container m-auto">
    <h1 align="center">Create a new recipe!</h1>
    {{#if status}}
        <h2 align="center">{{status}}</h2>
    {{/if}}
    <form method="POST" action="/api/addRecipe">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="formGroupExampleInput">Recipe Name:</label>
                <input type="text" name="name" class="form-control" id="formGroupExampleInput"
                       placeholder="PBJ Sandwich" required>
            </div>
            <div class="form-group col-md-6">
                <label for="exampleFormControlSelect1">Meal:</label>
                <select required name="meal" class="form-control" id="exampleFormControlSelect1">
                    <option>Breakfast</option>
                    <option>Lunch</option>
                    <option>Dinner</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="formGroupExampleInput">Minutes (above 0):</label>
                <input type="number" name="minutes" min=0 class="form-control" id="formGroupExampleInput"
                       placeholder="5" required>
            </div>
            <div class="form-group col-md-6">
                <label for="exampleFormControlSelect1">Stars:</label>
                <select required name="rating" class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter Ingredients, separated by a new line</label>
            <textarea name = "ingredients" class="form-control" id="exampleFormControlTextarea1" rows="6" required></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter Instructions, separated by a new line</label>
            <textarea name = "instructions" class="form-control" id="exampleFormControlTextarea1" rows="6" required></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter a description (optional)</label>
            <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
        </div>
        <button type="submit" class="btn btn-primary text-center">Post</button>
    </form>
    <br>
</div>